<!DOCTYPE html><html><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="shortcut icon" href="https://avatars.githubusercontent.com/u/148947838?s=64&amp;v=4">
<title>Yunti UI</title>
<style>html, body { background: transparent;  }

  @media (prefers-color-scheme: dark) {
    html, body { background: #000; }
  }</style>
<link rel="stylesheet" href="/yunti-ui/umi.efc835d6.css">
</head>
<body>
<div id="root"></div>
<script src="/yunti-ui/umi.18ae6a70.js"></script>

</body></html>