name: Build and Release

on:
  push:
    branches:
      - main
      - alpha
      - beta
      - rc

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js v24.x
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - name: Install pnpm v10.x
        uses: pnpm/action-setup@v4
        with:
          version: '10'

      - name: Install deps
        run: pnpm install

      - name: Test
        run: npm run test

      - name: Build
        run: npm run build

      - name: Release
        run: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Sync to cnpm
        run: npm install -g cnpm && cnpm sync @yuntijs/ui
